---
import "@fontsource/roboto-mono";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-black text-white bg-[url('/assets/noise.svg')]">
    <nav class="flex fixed justify-center w-full items-center h-12">
      <ul class="flex gap-6">
        <li>
          <a href="">Works</a>
        </li>
        <li>
          <a href="">Posts</a>
        </li>
      </ul>
    </nav>
    <main class="flex flex-col justify-center min-h-screen items-center">
      <slot />
    </main>
  </body>
</html>
